<!-- <div class="container-fluid full_bg">
  <div class="row flex-nowrap">
    
       <div class="col py-3">
          <div class="admin_home_content">
              <h1 class="text-dark heading cursive"><i class="fa-solid fa-music  fa-xl"></i><br><br><b>AUDIO TRACKER</b></h1>
              <h4 class="text-dark heading cursive"><b>Welcome Admin..</b>&nbsp; <i class="fa-solid fa-user-secret"></i></h4>
          </div>
      </div> 
 
</div> -->
<div class="col py-3 container-fluid full_bg">
  <div class="admin_home_content">
    <h1 class="text-dark heading cursive"><i class="fa-solid fa-music fa-xl"></i><br /><br /><b>AUDIO TRACKER</b></h1>
    <!-- <h4 class="text-dark heading cursive"><b>Welcome Admin..</b>&nbsp; <i class="fa-solid fa-user-secret"></i></h4> -->
  </div>
</div>

<!-- <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>
        <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo" />
        <span translate>Hello world !</span>
      </h1>
      <app-loader [isLoading]="isLoading"></app-loader>
      <q [hidden]="isLoading">{{ quote }}</q>
    </div>
  </div> -->
